*, *::before, *::after {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	background-color: rgb(0, 153, 255);
}

header {
	margin:1rem 0;
}

h1,h2,h3,h4{
	text-align: center;
}

nav{
	display:flex;
	gap: calc((100% / 3) / 3);
	border-top:1rem white solid;
	border-bottom:1rem white solid;
}

nav button {
	flex: 1;
	cursor: pointer;
	padding: 0.8rem 2rem;
	background: whitesmoke;
	border: none;
}

nav button:hover { background: white; }

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	width: 80%;
	max-width: 55rem;
	margin: auto;
}

#content section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: whitesmoke;
	padding: 2rem;
	border: 1rem white solid;
	text-align: center;
}

#content section img {
	display: block;
	margin: 1rem auto;
	width: 80%;
	max-width:400px;
	max-height:400px;
	object-fit: cover;
}

#content section button { 
	background-color: white;
	border: 0.5rem rgb(221, 223, 228) solid;
	width: fit-content;
	padding: 0.5rem;
	align-self: center;
	cursor: pointer;
}

table{
	margin: auto;
}

table tr {
	outline: 1px solid black;
}

table td{
	padding: 0.5rem;
}

ul > li {
	list-style-type: none;
	line-height: 2rem;
}
